.layout {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 2rem;
}
