---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  seo={{
    title: 'Page Not Found | Rowan & Raven Yarn',
  }}
>
  <h1>404 - Page Not Found</h1>
  <a href='/'>Return back to the main page</a>
</Layout>
