---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  seo={{
    title: 'Whoops, something went wrong. | Rowan & Raven Yarn',
  }}
>
  <h1>Whoops - Something didn&apos;t quite go right there</h1>
  <a href='/'>Return back to the main page</a>
</Layout>
