@import "~styles/helpers";

.outer {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #efefef;
    height: 4rem;
    z-index: 5;

}

.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
}

.logo {
    max-width: 40%;
    display: inline-block;
    cursor: pointer;
}

.logoImage {
    width: 100%;
    height: 100%;
    max-width: 10rem;
}

.navigation,
.cart {
    width: 100vw;
    position: absolute;
    top: 4rem;
    height: calc(100vh - 4rem);
    transition: transform $transition-quick;
    left: 0;

    a {
        color: white;
    }
}

.navigation {
    background-color: black;
    transform: translate(-100%, 0);

    &.navOpen {
        transform: translate(0, 0);
    }
}

.cart {
    background-color: red;
    transform: translate(100%, 0);

    &.cartOpen {
        transform: translate(0, 0);
    }
}


.navIcons {
    flex: 1 1 40%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
