@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        /* turns off smooth-scrolling behavior (if turned on) when prefers-reduced-motion is active*/
        scroll-behavior: auto;
    }

    *:not(.animates-without-motion),
    *:not(.animates-without-motion)::before,
    *:not(.animates-without-motion)::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--primary-font);
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

p {
    margin: 0 0 1rem 0;
}

a {
    color: #000000;
}

a:hover, a:focus {
    color: #9b6496
}

.layout {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 2rem;
}

.logo {
    max-width: 12rem;
    height: auto;
}

@media (min-width: 37.5rem) {
    .logo {
        max-width: 100%;
    }
}

.title {
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.25;
    text-transform: none;
    letter-spacing: 0;
}

@media (min-width: 37.5rem) {
    .title {
        font-size: 2.5rem;
    }
}
