@import "~styles/helpers";

.layoutGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    min-height: calc(100vh - #{$navigation-height});
}

.main {
    @include container($padding: 2rem 1rem);
}
